{% for projet in projetListUpdate %}
	<div class="project">
		<div class="icons">
			{% for language in projet.language %}
				<i class="{{ language.icon }}"></i>
			{% endfor %}
			{% for framework in projet.frameworks %}
				<i class="{{ framework.icon }}"></i>
			{% endfor %}
		</div>
		<h3>{{ projet.name }}</h3>
		<img src="{{ projet.image }}" alt="">
		<span class="infos" id="{{ projet.name }}" onclick=" handleclick('{{ projet.name }}')">
			<i class="fas fa-plus-circle"></i>
		</span>
		<div class="showInfos hidden {{ projet.name }}">
			<div class="infosContent">
				<div class="head">
					<h2>
						<a href="#" class="h2" target="_blank">{{ projet.name }}</a>
					</h2>
					<div class="sourceCode">
						<a href="{{ projet.linkSource }}" class="button" target="_blank">Code source</a>
					</div>
				</div>
				<p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus laboriosam aut nihil? Possimus, id facilis dignissimos repudiandae modi dolorum ea accusantium, veritatis debitis odio eveniet quos incidunt eaque nemo eius perferendis consequatur? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus laboriosam aut nihil? Possimus, id facilis dignissimos repudiandae modi dolorum ea accusantium.</p>
				<div class="button return" onclick=" handleclick('{{ projet.name }}')">Retourner sur la page</div>
			</div>
		</div>
	</div>

{% endfor %}
