<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Xavier Depoortere
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
		<link rel="icon" href="">
		{% block stylesheets %}
			<link rel="preconnect" href="https://fonts.googleapis.com">

			<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="{{ asset('css/global.css') }}">
			<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
			<link rel="stylesheet" href="{{ asset('css/home.css') }}">
			<link rel="stylesheet" href="{{ asset('css/competence.css') }}">
			<link rel="stylesheet" href="{{ asset('css/contact.css') }}">
			<link rel="stylesheet" href="{{ asset('css/portfolio.css') }}">
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<div class="body">
			{% include("inc/nav.html.twig") %}


			{% block body %}{% endblock %}
		</div>


	</body>
</html>
